
<div class="header">
  <nav>
  <a href="#">關於我</a>
  <a href="#">文章</a>
  <a href="#">聯絡資訊</a>
  </nav>
</div> 

<div class="banner">
  <img src="assets/1.jpeg">
</div>


<div class="about">
    <h2>關於我</h2>
    <p>weeeergrgrg</p>
  <div class="wrap">
    <div class="item">
      <img src="https://picsum.photos/100/100?random=1">
      <h3>321</h3>
      <p>1234rddsdsdsdsdsd</p>
    </div>
     <div class="item">
      <img src="https://picsum.photos/100/100?random=1">
      <h3>321</h3>
      <p>1234rddsdsdsdsdsd</p>
    </div>
     <div class="item">
      <img src="https://picsum.photos/100/100?random=1">
      <h3>321</h3>
      <p>1234rddsdsdsdsdsd</p>
    </div>
  </div>
</div>

<div class="products">
  <div class="wrap">
    <div class="item pic">
      <img src="https://picsum.photos/100/100?random=2">
    </div>
    <div class="item text">
      <h3>dffeef</h3>
      <p>efeffeeeewaqqdwdwdwdwddds</p>
    </div>
  </div>
</div>

<div class="service">
  <h2>dssgfs</h2>
  <p>treww</p>
  <div class="wrap">
    <div class="item">
      <img src="https://picsum.photos/100/100?random=2">
      <h3>32d</h3>
      <p>dfeewwass</p>
    </div>
    <div class="item">
      <img src="https://picsum.photos/100/100?random=2">
       <h3>32d</h3>
       <p>dfeewwass</p>
    </div>
    <div class="item">
      <img src="https://picsum.photos/100/100?random=2">
       <h3>32d</h3>
       <p>dfeewwass</p>
    </div>
    <div class="item">
      <img src="https://picsum.photos/100/100?random=2">
       <h3>32d</h3>
       <p>dfeewwass</p>
    </div>
  </div>
</div>


<div class="footer">
  &copy; copyright 2022.Oct by kathy
</div>