<h2>更新文章<h2>

<%= form_for @post do |post| %>

  <div>標題</div>
  <div><%= post.text_field :title %></div>

  <div>內容</div>
  <div><%= post.text_area :content %></div>

  <%= post.submit %>

<% end %>  
